{% extends "layout.html" %}
  {% block body %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Catalog Website</h3>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li class="active">{{ category.name }}</li>
          </ol>
        </div>
      </div>
    </nav>

    <div class="col-md-6 col-md-offset-1 well">
      <h2 class='text-center'>{{ category.name }}</h2>
      <p class ='text-center'>Please view the list below for items ready to be adopted</p>
      <ul class="list-group col-md-10 col-md-offset-1 text-center">
        {% for p in items %}
        <li class="list-group-item">
          <h3><a href="{{ url_for('showitem', category_id=category.id, item_id=p.id) }}">{{ p.name }}</a></h3>
        </li>
        {% endfor %}
        <li class="list-group-item">
          <div class="alert alert-success" role="alert">Would you like to have
            the ability to add new categories, edit them later and maybe even
            delete them? </br> How about you click this little button: </br>
            <span class="g-signin"
              data-scope="openid email"
              data-clientid="415606554723-8obb7b7ihrc8g19a86tp5cq9rnvra80e.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
            </span></div>
      </ul>
    </div>
    <div class="col-md-3 col-md-offset-1 well">
      <h2 class='text-center'>Contact Info</h2>
      <table class="table">
        <tr>
          <td>Name:</td>
          <td>{{ category.name }}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{ category.address }}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{ category.city }}</td>
        </tr>
        <tr>
          <td>State:</td>
          <td>{{ category.state }}</td>
        </tr>
        <tr>
          <td>Zipcode:</td>
          <td>{{ category.zipCode }}</td>
        </tr>
        <tr>
          <td>Website:</td>
          <td><a href="http://{{ category.website }}" target="_blank">{{ category.website }}</a></td>
        </tr>
      </table>

    </div>
  {% endblock %}
</html>
